/* Calendar.css */

.calendar-container {
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
    grid-template-rows: repeat(6, 1fr); /* 6 rows for each week (adjust as needed) */
    grid-gap: 5px; /* Adjust the gap between cells as needed */
  }
  
  .calender {
    width: 100%;
    height: 100%;
    background-color: white;
    color: rgba(50, 35, 69, 0.5);
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd; /* Add a border for better visibility */
  }
  
  .calender-table-header th{
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgb(170, 106, 255,0.2);
    color: rgb(39, 30, 45);
  }