.bestseller-container{
    display: flex;
    flex-direction: row;
    /* background: linear-gradient(to bottom, rgb(222, 223, 222) 0%, rgb(255, 255, 255) 50%, rgb(222, 223, 222) 100%); */
    border-bottom: 0.5px solid rgb(114, 114, 116);
    justify-content: space-between;
    align-self: center;
    height: 70px;
    width:100%;
}

.bestseller-left{
    display: flex;
    width: 200px;
    gap: 8px;
}

.bestseller-left img{
    width: 70px;
    height: 60px;
    margin: 5px;
    margin-left: 8px;
}

.bestseller-name-quantity{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bestseller-quantity{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bestseller-right{
    /* display: flex;
    flex-direction: column; */

}