
.atrending {
    display: flex;
    flex-direction: column;
    /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); Create a grid with minimum column width of 250px
    gap: 20px; /* Adjust the gap between grid items */
    justify-content: space-around;
    margin-left: 240px;
   
}

.atr-products {
    display:grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
    justify-content: space-around;
    margin-top: 40px;
}


