.order-item-container{
    display: flex;
    flex-direction: row;
    /* background: linear-gradient(to bottom, rgb(222, 223, 222) 0%, rgb(255, 255, 255) 50%, rgb(222, 223, 222) 100%); */
    border-bottom: 0.5px solid rgb(114, 114, 116);
    justify-content: space-between;
    align-self: center;
    height: 80px;
    width:700px;
}

.order-item-left{
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.order-item-left img{
    width: 80px;
    height: 80;
    margin: 5px;
}

.orderitem-name-quantity{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.orderitem-quantity{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cart-item-middle{
     align-self: center;
} 

.cart-item-right{
    position: relative;
}

.order-item-right{
    width: 130px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.order-item-right p{
    /* margin-top: 30px; */
    margin-right: 20px;
    color: rgb(17, 74, 32);
}

.order-item-rating-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 20px;
    margin-bottom: 80px; */

    background-color: rgb(183, 21, 220);
    height: 30px;
}
