.admindashboard-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-admin{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 200px;
    margin-top: 70px;
    width: 100%;
    height: auto;
    background-color: rgb(247, 246, 246);
}

.dashboardTitle{
    margin-left: 50px;
    width: 50%;
    color: rgb(67, 80, 198);
    color: rgb(122, 122, 123);
}

.dashboard-cards{
    display: flex;
    flex-direction: row;
    width: 92%;
    justify-content: space-between;
    align-self: center;
}

.db-totalsale{
    display: flex;
    /* flex: 0 0 auto; */
    flex-direction: row;
    width:260px;
    height: 150px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: rgb(255, 255, 255);
    color: rgb(52, 57, 83);
    gap: 20px;
}

.db-tatalsale-text{
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-top: 8%;
    font-size: 18px;
}

.db-graphIcon{
    margin-top: 40px;
    margin-left: 20px;
    width: 63px;
    height: 63px;
    border-radius: 63px;
    background-color: rgb(237, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-middlepart{
    height: 400px;
    width: 92%;
    margin-top: 10px;
    /* margin-left: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.db-graphplot{
    /* margin-left: 12px; */
}

.db-bestSellers{
    width: 380px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow-y: auto;
}

.db-bestsellers-title{
    border-bottom: 0.5px solid rgb(152, 152, 154);
    height: 50px;
}

.db-lastpart{
    height: 400px;
    width: 92%;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.db-orders{
    width:740px;
    height: 95%;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: rgb(255, 255, 255);
    color: rgb(52, 57, 83);
    overflow-y: auto;
}

.db-calender{
    height: 95%;
    margin-top: -20px;
   
}

.db-middlepart2{
    height: 400px;
    width: 92%;
    margin-top: 10px;
    /* margin-left: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.hisoh22{
    margin-right: -20px;
    right:150px;
    align-self: left;

}