.allusers-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allusers-mainbody{
    margin-left: 240px;
    margin-top: 50px;
}

.allusers-allitems{
    display:grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 60px;
    justify-content: space-around;
    margin-top: 40px;
}