.orderstatus-container{
    display: flex;
    flex-direction: column;
    /* width: 1200px; */
    align-items: center;
}
.orderstatus-order-id{
  width: 85%;
  font-size: 20px;
  color: rgb(8, 73, 36);
}

.orderstatus-order-dates{
    width: 85%;
    font-size: 18px;
    color: rgb(8, 73, 36);
}
.order-progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.orderstatus-orderitems-title{
    width: 47%;
}
.order-items-header{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 700px;
    justify-content: space-around;
}

.order-items-header-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery-and-summary{
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 50px;
    
}

.delivery-left{
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:rgb(234, 140, 46);
    color:white;
    border-radius: 10px;
}

.summary-right{
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:rgb(234, 140, 46);
    /* background-color: rgb(47, 151, 196); */
    color:white;
    border-radius: 10px;
}