.cart-all{
    width: 100%;
}

.cart-items{
    display: flex;
    flex-direction: column;
    width: 700px;
    position: relative;
    /* left: 20%;
    margin-top: 20px; */
}

.cart-items hr{
    border: 1px solid black;
    margin-left: 0;
    margin-bottom: 30px;
    width: 30px;
}

.cart-items-header{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 700px;
    justify-content: space-around;
}

.cart-items-header-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-items-header-p p{
    color: rgb(17, 77, 44);
    font-size: 20px;
}

.cart-all hr{
   width: 75%;
}

.cart-hishab{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    align-self: center;
    margin-left: 150px;
}

.cart-place-order{
    display: flex;
    width: 75%;
    position: relative;
}

.cart-place-order-btn{
    position: absolute;
    right: 100px;
    font-size: 18px;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    color: aliceblue;
}

.cartItems-totalsbox{
    display: flex;
    flex-direction: row;
    gap: 110px;
    margin-left: 180px;
}

.viewcartTotals{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 270px;
    margin-top: 80px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(45deg, rgb(13, 109, 13),rgb(162, 242, 140)50%, rgb(13, 109, 13)); */
    background-color: rgba(209, 209, 212, 0.838);
    border-radius: 10px;
    color: rgb(26, 26, 28);
}

.viewcartTotals hr{
    margin-top: 1px;
}

.viewcartTotals p{
    margin-top: 1px;
}
.cart-hishab-payment-option{
    display: flex;
    flex-direction: row;
}

.cart-hishab{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1100px;
    justify-content: space-around;
}

.cart-hishab-address{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-hishab-payment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-hishab-payment-option{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-right: 70px;
}