/* Sidebar.css */

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 2;
    left: 0;
    background-color: #084219;
    padding-top: 20px;
    margin-top: 00px;
  }
  
  .sidebar h2 {
    color: white;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .eta1 {
    padding: 15px;
    text-align: center;
  }
  
  .eta1 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
  }
  
  .eta1 a:hover {
    background-color: #555;
  }

  .sidebar  .eta1 a.active {
    background-color: #4CAF50; /* Active page color */
    color: white;
  }
  .eta2 {
    padding: 15px;
    text-align: center;
  }
  
  .eta2 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
  }
  
  .eta2 a:hover {
    background-color: #555;
  }
  .sidebar  .eta2 a.active {
    background-color: #4CAF50; /* Active page color */
    color: white;
  }
  .eta3 {
    padding: 15px;
    text-align: center;
  }
  
  .eta3 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
  }
  
  .eta3 a:hover {
    background-color: #555;
  }
  .sidebar  .eta3 a.active {
    background-color: #4CAF50; /* Active page color */
    color: white;
  }

  .eta4 {
    padding: 15px;
    text-align: center;
  }
  
  .eta4 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
  }
  
  .eta4 a:hover {
    background-color: #555;
  }
  .sidebar  .eta4 a.active {
    background-color: #4CAF50; /* Active page color */
    color: white;
  }
  