.cover{
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

 .cover img{
    position: relative;
    border-radius: 20px;
    padding-top: 20px;
    width: 90%;
    height: 400px;
    margin: auto;
 }

 .cover-text{
    position: absolute;
    align-items: center;
    top: 20%;
    margin-left: 160px;
    /* transform: translate(-50%, -50%); */
    color: rgb(122, 232, 224);
 }

 

 .cover-text p{
    font-size: 50px;
    text-align: center;
    color: rgb(122, 232, 224);
 }

 .cover-text button{
    align-items: center;
    width: 145px;
    height: 40px;
    font-size: 15px;
    background-color: black;
    color: bisque;
    border-radius: 15px;
 }
 .cover-text2{
   position: absolute;
   align-items: center;
   top: 20%;
   margin-left: 530px;
   /* transform: translate(-50%, -50%); */
   color: rgb(122, 232, 224);
 }

 .cover-text2 p{
   font-size: 50px;
   text-align: center;
   color: rgb(122, 232, 224);
}


.cover2button{
   
   /* width: 145px;
   height: 40px;
   font-size: 15px;
   background-color: black;
   color: bisque;
   border-radius: 15px;
   margin-left: 1200px;
   margin-top: -900px; */
   position: absolute;
   top: 150px;
   margin-left: 130px;
   /* transform: translate(-50%, -50%); */
   color: rgb(122, 232, 224);


   align-items: center;
    width: 145px;
    height: 40px;
    font-size: 15px;
    background-color: black;
    color: bisque;
    border-radius: 15px;
   
}
