.navbar{
    display: flex;
    height: 50px;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgb(10, 10, 10);
  
}

.nav-logo{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 50px;
    height: 50px;
}
.nav-logo p{
    color: black;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color:black;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart img{
    width: 50px;
    height: 50px;
}
/* .nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid grey;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: poiner;
} */

.login-btn{
    text-decoration: none;
    color: rgb(54, 13, 82);
    font-size: 20px;
}
.nav-cart-count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border: 11px;
    font-size: 14px;
    background-color: rgb(36, 28, 84);
    color: white;
}