
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 115.2rem;
}.sign-up-PWc {
  background-color: #121414;
  width: 100%;
  height: 70rem;
  position: relative;
  overflow: hidden;

  .rectangle-1-8DJ {
    top: 0;
    background-color: #ffffff;
    border-radius: 3.8rem;
    width: 78.5rem;
    height: 70rem;
    position: absolute;
    left: 40.4rem;
  }
  .frame-SDz {
    flex-direction: column;
    position: absolute;
    top: 2.2rem;
    overflow: hidden;
    align-items: flex-end;
    width: 96.2rem;
    height: 59.804rem;
    left: 3rem;
    display: flex;

    .auto-group-ck6g-9u6 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.45rem 0rem;
      width: calc(100% - 0.3rem);
      height: 15.45rem;
      display: flex;

      .auto-group-13lg-fcY {
        flex-shrink: 0;
        margin-right: 19.3538rem;
        width: 36.0462rem;
        height: 100%;
        position: relative;

        .plantys-logo-cGt {
          top: 0;
          width: 36.0462rem;
          height: 8.8612rem;
          position: absolute;
          left: 0;

          .vector-3-YgL {
            left: 5.3538rem;
            top: 1.0056rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.6615rem;
            height: 3.8678rem;
            position: absolute;
          }
          .vector-4-sic {
            object-fit: contain;
            vertical-align: top;
            width: 3.7538rem;
            height: 4.7603rem;
            position: absolute;
            left: 6.8308rem;
            top: 1.6601rem;
          }
          .vector-5-buW {
            height: 7.1988rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 6.4493rem;
          }
          .aronnok-MNt {
            height: 3.7rem;
            left: 9.4rem;
            top: 3.6rem;
            font-weight: 400;
            line-height: 1.1525;
            font-family: Belleza, 'Source Sans Pro';
            white-space: nowrap;
            width: 14rem;
            font-size: 3.2rem;
            letter-spacing: -0.15rem;
            color: #ffffff;
            position: absolute;
          }
        }
        .find-rare-hybrid-plants-here-ZUx {
          position: absolute;
          left: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.5;
          height: 6.6rem;
          top: 8.85rem;
          display: flex;
          letter-spacing: 0.088rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          width: 26.7rem;
        }
      }
      .auto-group-ews4-2tL {
        width: 40.5rem;
        height: calc(100% - 5.75rem);
        border-bottom: solid 0.1rem #eaeaea;
        flex-shrink: 0;
        margin: 3.3rem 0rem 2.45rem 0rem;
        box-sizing: border-box;
        padding-bottom: 0.3rem;

        .create-account-wkQ {
          display: flex;
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 3.3rem;
          font-size: 2.5rem;
          line-height: 1.5;
          letter-spacing: 0.1rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .full-name-rMa {
          white-space: nowrap;
          margin: 0rem 0rem 0.2rem 0.1rem;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5;
          color: #a09f9f;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .auto-group-6ir8-Z16 {
      position: relative;
      flex-shrink: 0;
      width: 79.5rem;
      height: 42.904rem;

      .already-have-an-account-log-in-V9e {
        left: 38.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #a09f9f;
        white-space: nowrap;
        align-items: baseline;
        width: 24.9rem;
        height: 2.3rem;
        display: flex;
        font-size: 1.5rem;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        top: 36.7rem;

        .already-have-an-account-log-in-V9e-sub-0 {
        }
        .already-have-an-account-log-in-V9e-sub-1 {
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5;
          color: #7bd2d6;
        }
        .already-have-an-account-log-in-V9e-sub-2 {
        }
      }
      .location-Yn8 {
        width: 6.4rem;
        position: absolute;
        left: 38.8rem;
        display: flex;
        line-height: 1.5;
        color: #a09f9f;
        white-space: nowrap;
        height: 2.3rem;
        top: 0;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
      }
      .phone-U9z {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 38.7rem;
        font-weight: 400;
        display: flex;
        font-size: 1.5rem;
        color: #a09f9f;
        width: 4.7rem;
        height: 2.3rem;
        top: 6.5rem;
      }
      .email-zPE {
        left: 39.1rem;
        top: 13.5rem;
        display: flex;
        font-weight: 400;
        line-height: 1.5;
        color: #a09f9f;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        height: 2.3rem;
        font-size: 1.5rem;
        white-space: nowrap;
        width: 4.1rem;
      }
      .line-4-Jui {
        position: absolute;
        left: 39.1rem;
        top: 16rem;
        background-color: #eaeaea;
        width: 40.4rem;
        height: 0.1rem;
      }
      .line-2-Sm2 {
        width: 40.4rem;
        height: 0.1rem;
        position: absolute;
        left: 38.8rem;
        top: 2.5rem;
        background-color: #eaeaea;
      }
      .line-3-ByW {
        width: 40.4rem;
        height: 0.1rem;
        position: absolute;
        left: 38.7rem;
        top: 9rem;
        background-color: #eaeaea;
      }
      .password-wSt {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #a09f9f;
        top: 20.2rem;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.3rem;
        height: 2.3rem;
        position: absolute;
        left: 38.8rem;
      }
      .line-5-rpk {
        height: 0.1rem;
        position: absolute;
        left: 38.8rem;
        top: 22.7rem;
        background-color: #eaeaea;
        width: 40.4rem;
      }
      .vector-Q5a {
        width: 2.5rem;
        height: 1.6rem;
        position: absolute;
        left: 77rem;
        top: 20.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .frame-1-wrC {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.5;
        background-color: #33814e;
        height: 4.4rem;
        position: absolute;
        left: 40.3rem;
        display: flex;
        top: 30.7rem;
        align-items: center;
        border-radius: 0.9rem;
        width: 38.9rem;
      }
      .jungleplant2-RmN {
        position: absolute;
        left: 0;
        top: 0.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 42.604rem;
        height: 42.604rem;
      }
    }
  }
  .english-uk-Muv {
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 9rem;
    position: absolute;
    left: 100.4rem;
    display: flex;
    font-size: 1.4rem;
    line-height: 1.5;
    height: 2.1rem;
    top: 3rem;
    font-weight: 400;
    letter-spacing: 0.056rem;
    color: #a1a1a1;
  }
  .polygon-1-fQp {
    object-fit: contain;
    vertical-align: top;
    width: 1.7rem;
    height: 1.2rem;
    position: absolute;
    left: 109.9rem;
    top: 3.4rem;
  }
}
